.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.row:after {
    content: ' ';
    clear: both;
    display: block;
}

[class^="col-"] {
    float: right;
    box-sizing: border-box;
}

.col-xs-12 {
    width: 100%;
}

@media screen and (min-width: 720px) {
    .col-sm-6 {
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}

@media screen and (min-width: 1140px) {
    .col-lg-4 {
        width: 33.33333333%;
    }
}